<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	
	<servlet>
		<servlet-name>Tp</servlet-name>
		<servlet-class>tp.TpServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Tp</servlet-name>
		<url-pattern>/tp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PeakServlet</servlet-name>
		<servlet-class>tp.TpPeakServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>PeakServlet</servlet-name>
		<url-pattern>/peak</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ClimberServlet</servlet-name>
		<servlet-class>tp.TpClimberServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ClimberServlet</servlet-name>
		<url-pattern>/climber</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
